.container_cards_clickboard{
    margin:50px;
    padding: 50px;
    background-color: rgb(51, 51, 217);
}

.card_cupon {
    height: 100px;
    width: 250px;
    align-items: center;
    padding: 20px;
    margin: 15px;
    border:white solid 1px;
    background-color: rgb(12, 93, 120)
}
.div__clickboard_descripcion {
    text-align: center ;
}
.div__clickboard {
    display: flex;
    justify-content: center;
    width: 100%;
}

.new-window__icon{
    margin-right: 8px;
    cursor: pointer;
}

.glyphicon-new-window {
    margin-right: 8px;
    cursor: pointer;
}

.row-cards {
    display: flex;
}