.flight-result__segments-toggle {
    display: none;
}


/* Add specific styles for mobile screens */
@media screen and (max-width: 767px) {
    /* Your CSS rules for mobile go here */
    body {
      font-size: 14px; /* Adjust font size for smaller screens */
    }
  }

  /* Add specific styles for tablet screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Your CSS rules for tablet go here */
    .header {
      height: 60px; /* Adjust height for tablets */
    }
  }

  /* Add specific styles for desktop screens */
@media screen and (min-width: 1024px) {
    /* Your CSS rules for desktop go here */


    /*CONTROL THIS ONE*/
    .result-option__main {
        display: flex!important;
        table-layout: auto!important;
    }
    .result-option__content {
        display: flex!important;
        table-layout : auto;
        flex-grow : 1;
    }
    .flight-result__info {
        display: flex;
        align-items: center;
        table-layout : auto;
        flex-grow : 1;
    }
    .flight-result__stops {
        flex-grow : 1;
    }
    .flight-result__duration {
        flex-grow : 1;
    }
    .flight-result__airline {
        flex-grow : 1;
        text-align : center;
    }
    .flight-result__stops .something {
        flex-grow : 20;
    }
    .result-option .result-option--selectable .result-option--selectable--selected {
        box-shadow: inset 0 0 0 2px;
        border: 0px solid white;
    }

    /* SELECTED FLIGHT*/

    .result-option__heading {
        width: auto!important; 
    }

    .flight-selection__airline {
        display: flex;
    }

    .result-option__heading {
        display: flex;
    }

    .result-option__content {
        display: flex;
    }
    .flight-selection__info {
        display: flex;
    }
}